/*td {
	font-family: "Trebuchet MS", Arial, Veranda, sans-serif;
	padding: 3px;
}*/

#calback {
	background: #FFF url('calWaiting.gif') no-repeat 50% 100px;
	margin: 0 auto;
	
}

#calendar {
	width: 100%;
	height: 100%;
}

.cal {
	background: #000;
	width: 100%; 
}

.calhead {
	width: 100%;
	font-weight: bold;
	color: #FFFFFF;
	font-size: 19px;
	text-decoration:none;     
}

.calhead img {
	border: none;
}

.dayhead {
	
	background: #EEE;
}

.dayhead td {
	text-align: center;
	color: #000;
}

.dayrow {
	background: #FFF;
	
}

.dayrow td {
	color: #000;
	font-size: .7em;
}

.day {
	float: right;
}

.dayover {
	background: #EEE;
}

.currdayover {
	background: #CCF2FF;
}

.dayout {
	background: #FFF;
}

.currdayout {
	background: #0099CC;
}
