div#head{ padding:10px; text-align:center; font-family:Segoe UI,Arial,Tahoma; font-size:30px; font-weight:bold; background-color:#ccccff; height:60px;}

div#welcome{ text-align:center; font-family:Segoe UI,Arial,Tahoma; font-size:20px; font-weight:bold;}

div#title{text-align:center; font-family:Segoe UI,Arial,Tahoma; font-size:20px; font-weight:bold;}

.container {	border:2px;	-moz-box-shadow:3px 3px 5px 6px #ccc;  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  box-shadow:3px 3px 5px 6px #ccc;z-index: 0;width: 1050px;	height:900px;	margin: 0 auto;}

div.container div#sub_title{font-family:Segoe UI,Arial,Tahoma;font-size:17px;font-weight:bold;}

form select, form input[type=text], form input[type=password]{font-family:verdana, arial, sans-serif;font-size:11px;font-weight:normal;color:#000000;padding:2px;width:145px}

form input[type=submit]{ font-family:verdana, arial, sans-serif;font-size:13px;font-weight:bold;color:#000000;	padding:6px;width:100px}

button{ font-family:verdana, arial, sans-serif; font-size:11px;	font-weight:bold;	color:#000000;	padding:6px; width:100px }

form textarea{	font-family:verdana, arial, sans-serif;	font-size:11px;	font-weight:normal;	color:#000000;	padding:2px; width:427px }

form textarea#sup{	font-family:verdana, arial, sans-serif;	font-size:11px;	font-weight:normal;	color:#000000;	padding:2px; width:400px }
td.headings div.fl_right{
	font-family:Segoe UI,Arial,Tahoma;font-size:12px;font-weight:normal;
}
form#inspect{padding-left:10px;}
table#edit td#name{width:145;}
table#edit{font-family:Segoe UI,Arial,Tahoma; font-size:13px;}
body{ font-family:Segoe UI,Arial,Tahoma; font-size:13px;}
a,a:visited{ text-decoration:none; color:#000000; }
a:hover{ text-decoration:none; color:#000000; font-weight:bold;}
div#tabs{ width:300px;}
.center{text-align:center;}
div#menu{ text-align:center; font-family:Segoe UI,Arial,Tahoma; font-size:13px;}
span#message{ color:red; font-size:9px;}
table#sup{ padding-left:10px; }
table#sup td{ padding-left:20px; font-size:13px;}
table#details{ padding-left:10px; padding-bottom:10px; border-bottom: 1px solid #ccccff;}
div#line{ padding-bottom:5px; width:330px; border-bottom: 1px solid #ccccff;}
table#details td{ width:100px}
table#details th{ width:100px; text-align:left;}
table#data{ font-family:Segoe UI,Arial,Tahoma; font-size:13px;}
table#data td{ padding-left:10px; width:150px; height:30px;}
table#data th{ padding-left:10px;}
table#main td{ vertical-align:top; }
div#general{ border-bottom: 1px solid #ccccff; padding-bottom:6px;}
div#tabs-1 table{ font-family:Segoe UI,Arial,Tahoma; font-size:13px; }
div#tabs-2 table{ font-family:Segoe UI,Arial,Tahoma; font-size:13px; }
table#items{ border: 1px solid #ccccff; padding-bottom:30px;}
table#items td{ vertical-align:top; font-family:Segoe UI,Arial,Tahoma; font-size:13px; padding-left:3px;}
table#items th{ vertical-align:top; font-family:Segoe UI,Arial,Tahoma; font-size:13px; font-weight:bold; padding-top:78px;}
a#table:hover{
	font-weight:18px;
}
span#back{font-family:Segoe UI,Arial,Tahoma; font-size:15px;}
.fl_right{float:right;}
.clear {	clear: both;display: block;	overflow: hidden;visibility: hidden;width: 0;height: 0;	}
.fl_left{float:left;}
tr#color{ background-color:#ccccff; }
div.fl_right { width:760px;}